registry=https://registry.npmjs.org/
@elfa:registry=https://pkgs.dev.azure.com/poc-rfid-elfa/_packaging/poc-rfid-elfa/npm/registry/ 
; begin auth token 
//pkgs.dev.azure.com/poc-rfid-elfa/_packaging/poc-rfid-elfa/npm/registry/:username=poc-rfid-elfa 
//pkgs.dev.azure.com/poc-rfid-elfa/_packaging/poc-rfid-elfa/npm/registry/:_password=aW8zZjRqb2Nuemd3NmJzM3dyN24zbnU0cGk3dzV3MjRrcXl4M3pxMnp3bnpvbmdzb2tjcQ==
//pkgs.dev.azure.com/poc-rfid-elfa/_packaging/poc-rfid-elfa/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/poc-rfid-elfa/_packaging/poc-rfid-elfa/npm/:username=poc-rfid-elfa 
//pkgs.dev.azure.com/poc-rfid-elfa/_packaging/poc-rfid-elfa/npm/:_password=aW8zZjRqb2Nuemd3NmJzM3dyN24zbnU0cGk3dzV3MjRrcXl4M3pxMnp3bnpvbmdzb2tjcQ==
//pkgs.dev.azure.com/poc-rfid-elfa/_packaging/poc-rfid-elfa/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
always-auth=true