{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "minify": false,
  "module": {
    "type": "commonjs",
    "strict": true,
    "strictMode": true
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "dynamicImport": true,
      "decorators": true
    },
    "baseUrl": "./",
    "paths": {
      "@/entities/*": ["src/entities/*"]
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "es2021",
    "keepClassNames": true,
    "loose": true
  }
}
